---
http_interactions:
- request:
    method: get
    uri: https://api.are.na/v2/channel/79336/feed?page=1
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3a01e9f4011b5f5a9fd7b3dff30051ca"
    body:
      encoding: UTF-8
      string: '{"type":null,"limit":50,"total":0,"offset":0,"range_start":"+inf","range_end":"-inf","items":[{"id":3215999,"action":"followed","bulletin_id":3233697,"connector":null,"created_at":"2018-05-19T21:19:49.349Z","item_id":79336,"target_id":null,"parent_id":null,"item_type":"Channel","target_type":null,"parent_type":null,"item":{"id":79336,"title":"Record
        Covers ","created_at":"2017-06-16T20:07:44.896Z","updated_at":"2018-05-22T12:10:26.602Z","added_to_at":"2018-02-10T12:07:29.356Z","published":true,"open":true,"collaboration":false,"collaborator_count":0,"slug":"record-covers-1499299389","length":119,"kind":"default","status":"public","user_id":16721,"metadata":{"description":"A
        collection of interesting record covers for future reference. Mainly classical
        &amp; contemporary music. "},"contents":null,"share_link":null,"follower_count":18,"can_index":true,"base_class":"Channel","class":"Channel","user":{"id":16721,"created_at":"2017-06-11T20:34:18.734Z","slug":"rui-p","username":"rui
        p","first_name":"rui","last_name":"p","full_name":"rui p","avatar":"https://s3.amazonaws.com/arena-avatars/16721/small_9b42836706e150735a07cabf1344fb26.png?1510745333","avatar_image":{"thumb":"https://s3.amazonaws.com/arena-avatars/16721/small_9b42836706e150735a07cabf1344fb26.png?1510745333","display":"https://s3.amazonaws.com/arena-avatars/16721/medium_9b42836706e150735a07cabf1344fb26.png?1510745333"},"channel_count":78,"following_count":10,"profile_id":78482,"follower_count":48,"initials":"rp","can_index":true,"metadata":{"description":"Art
        director & Designer based in Stockholm\nhttp://rui.cool"},"is_premium":true,"is_exceeding_private_connections_limit":false,"is_confirmed":true,"is_pending_reconfirmation":false,"is_pending_confirmation":false,"badge":"premium","base_class":"User","class":"User"}},"target":null,"parent":null,"user":{"id":55231,"created_at":"2018-05-03T02:57:57.167Z","slug":"mikki-janower","username":"Mikki
        Janower","first_name":"Mikki","last_name":"Janower","full_name":"Mikki Janower","avatar":"https://gravatar.com/avatar/2a4e485074730fcc48e0750368c4d579.png?s=40&d=mm&r=R&d=blank","avatar_image":{"thumb":"https://gravatar.com/avatar/2a4e485074730fcc48e0750368c4d579.png?s=40&d=mm&r=R&d=blank","display":"https://gravatar.com/avatar/2a4e485074730fcc48e0750368c4d579.png?s=150&d=mm&r=R&d=bla[...]
- request:
    method: get
    uri: https://api.are.na/v2/channel/79336/feed?page=2
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"fc97c61f2b4c388b06145299ef02612e"
    body:
      encoding: UTF-8
      string: '{"type":null,"limit":50,"total":0,"offset":0,"range_start":"+inf","range_end":"-inf","items":[{"id":1856635,"action":"added","bulletin_id":1874333,"connector":"to","created_at":"2017-10-23T12:02:22.850Z","item_id":1358985,"target_id":79336,"parent_id":1639423,"item_type":"Block","target_type":"Channel","parent_type":"Connection","item":{"id":1358985,"title":"p33_baulez_lemarteau2_o.jpg","updated_at":"2017-10-23T12:02:22.845Z","created_at":"2017-10-23T12:02:18.608Z","state":"available","comment_count":0,"generated_title":"p33_baulez_lemarteau2_o.jpg","content_html":null,"description_html":null,"visibility":"public","content":null,"description":null,"source":{"url":"http://freight.cargocollective.com/w/600/q/94/i/d4f8e17426f23aef2710d42737741d0408ed518618c518cd9f02edb04366c143/p33_baulez_lemarteau2_o.jpg","title":"p33_baulez_lemarteau2_o.jpg","provider":{"name":"http://freight.cargocollective.com","url":"http://freight.cargocollective.com"}},"image":{"filename":"2e91fd6f996d947cc58a97af7c835f38.jpg","content_type":"image/jpeg","updated_at":"2017-10-23T12:02:22.313Z","thumb":{"url":"https://d2w9rnfcy7mm78.cloudfront.net/1358985/thumb_2e91fd6f996d947cc58a97af7c835f38.jpg"},"square":{"url":"https://d2w9rnfcy7mm78.cloudfront.net/1358985/square_2e91fd6f996d947cc58a97af7c835f38.jpg"},"display":{"url":"https://d2w9rnfcy7mm78.cloudfront.net/1358985/display_2e91fd6f996d947cc58a97af7c835f38.jpg"},"large":{"url":"https://d2w9rnfcy7mm78.cloudfront.net/1358985/large_2e91fd6f996d947cc58a97af7c835f38.jpg"},"original":{"url":"https://d2w9rnfcy7mm78.cloudfront.net/1358985/original_2e91fd6f996d947cc58a97af7c835f38.jpg","file_size":124083,"file_size_display":"121
        KB"}},"embed":null,"attachment":null,"metadata":null,"base_class":"Block","class":"Image","user":{"id":16721,"created_at":"2017-06-11T20:34:18.734Z","slug":"rui-p","username":"rui
        p","first_name":"rui","last_name":"p","full_name":"rui p","avatar":"https://s3.amazonaws.com/arena-avatars/16721/small_9b42836706e150735a07cabf1344fb26.png?1510745333","avatar_image":{"thumb":"https://s3.amazonaws.com/arena-avatars/16721/small_9b42836706e150735a07cabf1344fb26.png?1510745333","display":"https://s3.amazonaws.com/arena-avatars/1[...]
[...]
- request:
    method: get
    uri: https://api.are.na/v2/channel/79336/feed?page=5
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"4d50198e22bc7c044cab77a4050ad0a9"
    body:
      encoding: UTF-8
      string: '{"type":null,"limit":50,"total":0,"offset":0,"range_start":"+inf","range_end":"-inf","items":[],"base_class":"User","class":"User"}'
  recorded_at: Tue, 22 May 2018 12:52:16 GMT
recorded_with: VCR 4.0.0
