---
http_interactions:
- request:
    method: post
    uri: https://dev.are.na/oauth/token
    body:
      encoding: UTF-8
      string: client_id=&client_secret=&code=code&grant_type=authorization_code&redirect_uri=https%3A%2F%2Fdb35b2d2.example.com%2Fconnect
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"97299a2607fc9c430d7b845df0e16b4a"
    body:
      encoding: UTF-8
      string: '{"access_token":"token","token_type":"bearer","scope":"write","created_at":1527884571}'
  recorded_at: Fri, 01 Jun 2018 20:22:51 GMT
recorded_with: VCR 4.0.0
