---
http_interactions:
- request:
    method: get
    uri: https://api.are.na/v2/user/15/feed?page=1&per=50
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"d2705550127e5b494f4a44951bf48bd6"
    body:
      encoding: UTF-8
      string: "{\"type\":null,\"limit\":50,\"total\":0,\"offset\":0,\"range_start\":\"+inf\",\"range_end\":\"-inf\",\"items\":[{\"id\":3293045,\"action\":\"followed\",\"bulletin_id\":3310743,\"connector\":null,\"created_at\":\"2018-05-30T20:05:15.662Z\",\"item_id\":154713,\"target_id\":null,\"parent_id\":null,\"item_type\":\"Channel\",\"target_type\":null,\"parent_type\":null,\"item\":{\"id\":154713,\"title\":\"please
        join my webring \U0001F310\",\"created_at\":\"2018-02-25T00:02:14.643Z\",\"updated_at\":\"2018-05-30T20:25:14.393Z\",\"added_to_at\":\"2018-05-30T19:54:35.598Z\",\"published\":true,\"open\":false,\"collaboration\":false,\"collaborator_count\":0,\"slug\":\"please-join-my-webring\",\"length\":23,\"kind\":\"default\",\"status\":\"closed\",\"user_id\":18685,\"metadata\":null,\"contents\":null,\"share_link\":null,\"follower_count\":1,\"can_index\":true,\"base_class\":\"Channel\",\"class\":\"Channel\",\"user\":{\"id\":18685,\"created_at\":\"2017-08-12T19:32:19.541Z\",\"slug\":\"luming-hao\",\"username\":\"Luming
        Hao\",\"first_name\":\"Luming\",\"last_name\":\"Hao\",\"full_name\":\"Luming
        Hao\",\"avatar\":\"https://s3.amazonaws.com/arena-avatars/18685/small_b3e7c7ce72270b48572871cf53312c0c.jpg?1521663100\",\"avatar_image\":{\"thumb\":\"https://s3.amazonaws.com/arena-avatars/18685/small_b3e7c7ce72270b48572871cf53312c0c.jpg?1521663100\",\"display\":\"https://s3.amazonaws.com/arena-avatars/18685/medium_b3e7c7ce72270b48572871cf53312c0c.jpg?1521663100\"},\"channel_count\":84,\"following_count\":62,\"profile_id\":87993,\"follower_count\":17,\"initials\":\"LH\",\"can_index\":true,\"metadata\":{\"description\":\"luminghao.com\"},\"is_premium\":true,\"is_exceeding_private_connections_limit\":false,\"is_confirmed\":true,\"is_pending_reconfirmation\":false,\"is_pending_confirmation\":false,\"badge\":\"investor\",\"base_class\":\"User\",\"class\":\"User\"}},\"target\":null,\"parent\":null,\"user\":{\"id\":15,\"created_at\":\"2011-06-21T01:41:32.080Z\",\"slug\":\"charles-broskoski\",\"username\":\"Charles
        Broskoski\",\"first_name\":\"Charles\",\"last_name\":\"Broskoski\",\"full_name\":\"Charles
        Broskoski\",\"avatar\":\"https://s3.amazonaws.com/arena-avatars/15/small_0169d93a7be2c5149947ae9c4dec8447.png?1493654235\",\"avatar_image\":{\"thumb\":\"https://s3.amazonaws.com/arena-avatars/15/small_0169d93a7be2c5149947ae9c4dec8447.png?1493654235\",\"display\":\"https[...]
- request:
    method: get
    uri: https://api.are.na/v2/user/15/feed?page=2&per=50
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"code":500,"message":"Internal Server Error","description":"Something
        has gone wrong."}'
  recorded_at: Thu, 31 May 2018 01:03:11 GMT
recorded_with: VCR 4.0.0
