---
http_interactions:
- request:
    method: get
    uri: https://api.are.na/v2/users/charles-broskoski
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"54eb5e009e9a2a1e85358ad4d0a9b5a0"
    body:
      encoding: UTF-8
      string: '{"id":15,"created_at":"2011-06-21T01:41:32.080Z","slug":"charles-broskoski","username":"Charles
        Broskoski","first_name":"Charles","last_name":"Broskoski","full_name":"Charles
        Broskoski","avatar":"https://s3.amazonaws.com/arena-avatars/15/small_0169d93a7be2c5149947ae9c4dec8447.png?1493654235","avatar_image":{"thumb":"https://s3.amazonaws.com/arena-avatars/15/small_0169d93a7be2c5149947ae9c4dec8447.png?1493654235","display":"https://s3.amazonaws.com/arena-avatars/15/medium_0169d93a7be2c5149947ae9c4dec8447.png?1493654235"},"channel_count":583,"following_count":4118,"profile_id":111,"follower_count":1285,"initials":"CB","can_index":false,"metadata":{"description":"[Are.na](http://are.na)
        co-founder ✍︎\n\nhttp://charlesbroskoski.com\n"},"is_premium":true,"is_exceeding_private_connections_limit":false,"is_confirmed":true,"is_pending_reconfirmation":false,"is_pending_confirmation":false,"badge":"premium","base_class":"User","class":"User"}'
  recorded_at: Thu, 31 May 2018 00:49:08 GMT
- request:
    method: get
    uri: https://api.are.na/v2/users/136855
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"code":404,"message":"Not Found","description":"The resource you are
        looking for does not exist."}'
  recorded_at: Thu, 31 May 2018 00:54:58 GMT
- request:
    method: get
    uri: https://api.are.na/v2/users/15
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"54eb5e009e9a2a1e85358ad4d0a9b5a0"
    body:
      encoding: UTF-8
      string: '{"id":15,"created_at":"2011-06-21T01:41:32.080Z","slug":"charles-broskoski","username":"Charles
        Broskoski","first_name":"Charles","last_name":"Broskoski","full_name":"Charles
        Broskoski","avatar":"https://s3.amazonaws.com/arena-avatars/15/small_0169d93a7be2c5149947ae9c4dec8447.png?1493654235","avatar_image":{"thumb":"https://s3.amazonaws.com/arena-avatars/15/small_0169d93a7be2c5149947ae9c4dec8447.png?1493654235","display":"https://s3.amazonaws.com/arena-avatars/15/medium_0169d93a7be2c5149947ae9c4dec8447.png?1493654235"},"channel_count":583,"following_count":4118,"profile_id":111,"follower_count":1285,"initials":"CB","can_index":false,"metadata":{"description":"[Are.na](http://are.na)
        co-founder ✍︎\n\nhttp://charlesbroskoski.com\n"},"is_premium":true,"is_exceeding_private_connections_limit":false,"is_confirmed":true,"is_pending_reconfirmation":false,"is_pending_confirmation":false,"badge":"premium","base_class":"User","class":"User"}'
  recorded_at: Thu, 31 May 2018 00:55:59 GMT
recorded_with: VCR 4.0.0
