<html>
  <head>
    <title>Are.na + Slack: Help</title>
    <%= partial 'public/partials/_head.html.erb' %>
  </head>
  <body>
    <p class='icon'>
      <a href='/'><img src='img/icon.png'></a>
    </p>
    <p>
      <h1>Are.na + Slack: Help</h1>
    </p>
    <p>
      This bot posts channel updates from Are.na to Slack.
    </p>
    <p>&nbsp;</p>
    <p>
      Invite <b>@arena</b> to a channel.
      <br><small><em>/invite @arena</em></small>
    </p>
    <p>
      Connect a channel with <b>/arena connect [channel]</b>.
      <br><small>eg. <em>/arena connect delightfully-absurd</em></small>
    </p>
    <p>
      Disconnect a channel with <b>/arena disconnect [channel]</b>.
      <br><small>eg. <em>/arena disconnect delightfully-absurd</em></small>
    </p>
    <p>&nbsp;</p>
    <%= partial 'public/partials/_footer.html.erb' %>
  </body>
</html>

