---
http_interactions:
- request:
    method: post
    uri: https://slack.com/api/im.open
    body:
      encoding: UTF-8
      string: token=token&user=U0H0TU3NG
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Oauth-Scopes:
      - identify,bot:basic
      X-Accepted-Oauth-Scopes:
      - im:write,post
      X-Slack-Req-Id:
      - 7651d6a2-0047-4af8-8442-a273ac573e7b
      X-Slack-Backend:
      - h
      X-Via:
      - haproxy-www-fwr9
    body:
      encoding: UTF-8
      string: '{"ok":true,"no_op":true,"already_open":true,"channel":{"id":"D19GB4893"}}'
  recorded_at: Tue, 12 Jun 2018 22:08:47 GMT
recorded_with: VCR 4.0.0
