<p>
  <small>
    not affiliated with <a href="https://www.are.na" target="_blank">are.na</a>, made by <a href="https://twitter.com/dblockdotorg" target="_blank">@dblockdotorg</a><br>
    <a href="https://github.com/dblock/slack-arena" target="_blank">fork me on github</a>, <a href="privacy.html">privacy policy</a>, <a href="help.html">help</a>, hosted on <a href="https://m.do.co/c/5b26011f9a9b">DigitalOcean</a><br>
    questions? contact dblock[at]dblock[dot]org, DM and follow <a href='https://twitter.com/playplayio'>@playplayio</a> for updates
  </small>
</p>
